__pycache__/

.vscode/*.!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

/server_API/Gmail/API_key.txt
/server_API/Gmail/client_id.json
/server_API/Gmail/token.json

/server_BMQ/*.csv